/*
	Theme Name: Master Study Child
	Theme URI: http://stylemix.net
	Description: MasterStudy Child Theme
	Author: StylemixThemes
	Author URI: http://stylemix.net
	Template: masterstudy
	Version: 2.0
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Tags: classes, courses, education, education center, learning center, tutoring, teaching, study, studying, learning, lessons, instructor, teacher, mentor
	Text Domain: masterstudy-child
*/



/* UPD SEPT */
/*@media (max-width: 400px) {*/
/*    .course-title-holder {*/
/*        padding-right: 5px;*/
/*    }*/
/*}*/

/*@media(max-width: 480px){*/
/*    .woocommerce-MyAccount-navigation ul {*/
/*        padding-left: 0;*/
/*    }*/
/*    .woocommerce-MyAccount-navigation ul li {*/
/*        display: block;*/
/*    }*/
/*}*/

/*@media (max-width: 767px) {*/
/*    .table-responsive>.table>tbody>tr>td,*/
/*    .table-responsive>.table>tbody>tr>th,*/
/*    .table-responsive>.table>tfoot>tr>td,*/
/*    .table-responsive>.table>tfoot>tr>th,*/
/*    .table-responsive>.table>thead>tr>td,*/
/*    .table-responsive>.table>thead>tr>th {*/
/*        overflow: hidden;*/
/*        text-overflow: ellipsis;*/
/*    }*/
/*}*/

/*@media (max-width: 655px) {*/
/*    .course_table tr td.number.number-visible.title, .course_table tr td.title {*/
/*        padding-left: 20px;*/
/*        display: block;*/
/*        width: 100%;*/
/*    }*/
/*    .course_table tr td.stm_badge {*/
/*        display: block;*/
/*        width: 100%;*/
/*        text-align: left;*/
/*    }*/
/*    .course_table tr td .meta {*/
/*        padding-left: 12px;*/
/*    }*/
/*    .course_table tr td.stm_badge .badge_unit {*/
/*        margin-left: 15px;*/
/*    }*/
/*    .woocommerce-message {*/
/*        padding-right: 26px;*/
/*    }*/
/*    .woocommerce-message .button {*/
/*        position: static;*/
/*        float: none;*/
/*        display: block;*/
/*    }*/
/*    .woocommerce-message .button:after {*/
/*        display: none;*/
/*    }*/
/*    .shop_table > tbody > tr td.actions {*/
/*        padding-left: 15px;*/
/*        padding-right: 15px;*/
/*    }*/
/*    .woocommerce .shop_table.cart .coupon .button {*/
/*        display: block;*/
/*        margin-top: 15px;*/
/*    }*/
/*    .woocommerce .shop_table.cart .coupon {*/
/*        float: none;*/
/*        margin-bottom: 30px;*/
/*    }*/
/*    .woocommerce .shop_table.cart .button.update-cart {*/
/*        float: none;*/
/*        margin-bottom: 15px;*/
/*    }*/
/*}*/

/*.tp-caption .icon_in_btn {*/
/*    text-align: center !important;*/
/*}*/

/*@media (max-width: 991px){*/
/*    .overflowed_content .wpb_column .vc_column-inner{*/
/*        margin-top: 0 !important;*/
/*    }*/
/*}*/

/*body .vc_row[data-vc-full-width] {*/
/*    overflow: visible;*/
/*}*/
/*body .vc_row[data-vc-full-width].vc_parallax {*/
/*    overflow: hidden;*/
/*}*/

/*.woocommerce-product-gallery {*/
/*    position: relative;*/
/*    margin-bottom: 3em*/
/*}*/
/*.woocommerce-product-gallery figure {*/
/*    margin: 0*/
/*}*/
/*.woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(n+2) {*/
/*    width: 25%;*/
/*    display: inline-block*/
/*}*/
/*.woocommerce-product-gallery .flex-control-thumbs li {*/
/*    list-style: none;*/
/*    float: left;*/
/*    cursor: pointer*/
/*}*/
/*.woocommerce-product-gallery .flex-control-thumbs img {*/
/*    opacity: .5*/
/*}*/
/*.woocommerce-product-gallery .flex-control-thumbs img.flex-active, .woocommerce-product-gallery .flex-control-thumbs img:hover {*/
/*    opacity: 1*/
/*}*/
/*.woocommerce-product-gallery img {*/
/*    display: block*/
/*}*/
/*.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {*/
/*    width: 33.3333%*/
/*}*/
/*.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {*/
/*    width: 25%*/
/*}*/
/*.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {*/
/*    width: 20%*/
/*}*/
/*.woocommerce-product-gallery__trigger {*/
/*    position: absolute;*/
/*    top: 1em;*/
/*    right: 1em;*/
/*    z-index: 99*/
/*}*/
/*ol.flex-control-nav.flex-control-thumbs {*/
/*    padding-left: 0px;*/
/*}*/
/*.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {*/
/*    width: 20%;*/
/*}*/
/*.woocommerce-product-gallery__trigger {*/
/*    right: inherit;*/
/*    left: .5em;*/
/*}*/
/*.woocommerce div.product div.images .woocommerce-product-gallery__trigger {*/
/*    position: absolute;*/
/*    top: .5em;*/
/*    right: .5em;*/
/*    font-size: 2em;*/
/*    z-index: 9;*/
/*    width: 36px;*/
/*    height: 36px;*/
/*    background: #fff;*/
/*    text-indent: -9999px;*/
/*    border-radius: 100%;*/
/*    box-sizing: content-box;*/
/*}*/
/*.woocommerce div.product div.images .woocommerce-product-gallery__trigger:before {*/
/*    content: "";*/
/*    display: block;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    border: 2px solid #000;*/
/*    border-radius: 100%;*/
/*    position: absolute;*/
/*    top: 9px;*/
/*    left: 9px;*/
/*    box-sizing: content-box;*/
/*}*/
/*.woocommerce div.product div.images .woocommerce-product-gallery__trigger:after {*/
/*    content: "";*/
/*    display: block;*/
/*    width: 2px;*/
/*    height: 8px;*/
/*    background: #000;*/
/*    border-radius: 6px;*/
/*    position: absolute;*/
/*    top: 19px;*/
/*    left: 22px;*/
/*    -webkit-transform: rotate(-45deg);*/
/*    -ms-transform: rotate(-45deg);*/
/*    transform: rotate(-45deg);*/
/*    box-sizing: content-box;*/
/*}*/


/*!* Woo My Account Tabs*!*/
/*.woocommerce-account .woocommerce-MyAccount-navigation {*/
/*    display: table;*/
/*    float: none;*/
/*    width: 100%; }*/
/*.woocommerce-account .woocommerce-MyAccount-content {*/
/*    float: none;*/
/*    width: 100%;*/
/*}*/
/*.woocommerce-MyAccount-navigation ul {*/
/*    display: table !important;*/
/*    table-layout: fixed;*/
/*    width: 100%;*/
/*    list-style: none;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    margin-bottom: 30px; }*/
/*.woocommerce-MyAccount-navigation  ul > li {*/
/*    display: table-cell; }*/
/*.woocommerce-MyAccount-navigation  ul > li > a {*/
/*    display: block;*/
/*    padding: 12px 20px;*/
/*    background-color: #457992;*/
/*    border: 0;*/
/*    border-left: 1px solid #fff;*/
/*    border-radius: 0;*/
/*    color: #fff;*/
/*    text-transform: uppercase;*/
/*    text-align: center;*/
/*    font-size: 14px;}*/
/*.woocommerce-MyAccount-navigation  ul > li.is-active a,*/
/*.woocommerce-MyAccount-navigation  ul > li a:hover,*/
/*.woocommerce-MyAccount-navigation  ul > li a:focus {*/
/*    background-color: #f0f2f5;*/
/*    color: #457992; }*/
/*.woocommerce div.product form.cart .variations td.label {*/
/*    display: none;*/
/*}*/
/*.woocommerce-product-gallery {*/
/*    position: relative;*/
/*    margin-bottom: 3em*/
/*}*/
/*.woocommerce-product-gallery figure {*/
/*    margin: 0*/
/*}*/
/*a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {*/
/*    z-index: 9 !important;*/
/*}*/
/*.stm_archive_product_inner_unit .stm_archive_product_inner_unit_centered .stm_featured_product_price .price h5 {*/
/*    font-weight: normal;*/
/*}*/
/*.widget_stm_recent_posts span.h6 {*/
/*    display: inline !important;*/
/*}*/
/*.widget_stm_recent_posts .cats_w {*/
/*    margin-left: 83px;*/
/*}*/

.stm-lms-interviews_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stm-lms-interviews_wr {
    margin-top: 35px;
}

.stm-lms-interviews_wr__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.stm_lms_interviews_wr__sort {
    display: flex;
    align-items: center;
    width: 305px;
}

.stm_lms_interviews_wr__sort .sort_label {
    margin-right: 20px;
}

.stm_lms_interviews_wr__sort select {
    max-width: 230px;
    height: 40px;
}

.stm-lms-interviews_wr__statics {
    display: flex;
    align-items: center;
}

.stm-lms-interviews_wr__item {
    display: flex;
    align-items: center;
}

.stm-lms-interviews_wr__item i {
    font-size: 16px;
    margin-right: 5px;
}

.stm-lms-interviews_wr__item i.non-passed {
    border: 1px solid #ff0000;
    border-radius: 50%;
    padding: 3px 5px;
    font-size: 11px;
    color: #ff0000;
}

.stm-lms-interviews_wr__item i.passed {
    border: 1px solid #00c691;
    border-radius: 50%;
    padding: 4px 4px;
    font-size: 10px;
    color: #00c691;
}

.stm-lms-interviews_wr__item i.pending {
    font-size: 18px;
    color: #385bce;
}

.stm-lms-interviews_wr__item .label {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin: 0;
}

.stm-lms-interviews_wr__item + .stm-lms-interviews_wr__item {
    margin-left: 10px;
}

.stm-lms-interviews_wr .table tr {
    border: none;
}

.stm-lms-interviews_wr .table thead, .stm-lms-interviews_wr .table tbody {
    border: none;
}

.stm-lms-interviews_wr .table thead tr {
    background: rgb(56 91 206 / 15%);
    border-top: 2px solid #385bce;
}

.stm-lms-interviews_wr .table thead tr th {
    padding: 10px;
}

.stm-lms-interviews_wr .table tbody tr {
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.stm-lms-interviews_wr .table tbody tr th, .stm-lms-interviews_wr .table tbody tr td {
    padding: 10px;
}

.stm-lms-interviews_wr .table tbody tr td {
    text-align: center;
}

.stm-lms-interviews_form_wr {
    padding: 35px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 30%);
}

.stm-lms-interviews_form_comment {
    padding: 35px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 30%);
    margin-top: 35px;
}

.stm-lms-interviews_form_form {
    padding: 20px;
    background: #f0f2f5;
}

.stm-lms-interviews_form_form label {
    font-size: 16px;
    font-weight: 500;
}

.stm-lms-interviews_form_form label span.required {
    color: #af0606;
}

.stm-lms-interviews_form_wr .course-search {
    height: 35px;
}

#stm_lms_interviews .vs__dropdown-toggle {
    padding: 6px 12px!important;
    line-height: 1.42857143;
    border-radius: 0;
    border: 2px solid #f0f2f5;
    background: #fff;
    box-shadow: none!important;
    color: #555;
}

#stm_lms_interviews .mx-datepicker {
    display: block;
}

#stm_lms_interviews .form-group {
    margin-bottom: 30px;
}

.stm-lms-interviews_search_student {
    display: flex;
    align-items: center;
}

.stm-lms-interviews_search_student i {
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
    color: #385bce;
}

.stm-lms-interviews_search_student .v-select {
    width: 100%;
}

.stm-lms-interviews_search_student .v-select .vs__open-indicator {
    display: none;
}

#stm_lms_interviews .form-group input[type=text] {
    width: 100%;
    background: #fff;
}

.stm-lms-interviews_status {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stm-lms-interviews_status button + button {
    margin-left: 20px;
}

.stm-lms-interviews_form_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.stm-lms-interviews_form_top h2 {
    margin-bottom: 0;
}

.stm-lms-interview_current_top {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stm-lms-interview_current_top i {
    border-radius: 50%;
    padding: 4px 4px;
    font-size: 16px;
}

.stm-lms-interview_current_top i.fa-check {
    border: 2px solid #00c691;
    color: #00c691;
}

.stm-lms-interview_current_top i.fa-times {
    border: 2px solid #ff0000;
    color: #ff0000;
    padding: 2px 4px;
}

@media (max-width: 767px) {
    .stm-lms-interviews_top, .stm-lms-interviews_wr__top {
        display: block;
    }
    .stm-lms-interviews_wr {
        margin-top: 30px;
    }
    .stm_lms_interviews_wr__sort, .stm-lms-interviews_wr__top {
        margin-bottom: 30px;
    }
    .stm-lms-interviews_wr__statics {
        flex-wrap: wrap;
    }
    .stm-lms-interviews_wr__item {
        flex: 1 1 50%;
        margin-bottom: 10px;
    }
    .stm-lms-interviews_wr__item + .stm-lms-interviews_wr__item {
        margin-left: 0;
    }
    .stm-lms-interviews_wr__table {
        overflow-y: scroll;
    }
    .stm-lms-interviews_wr .table tbody tr th, .stm-lms-interviews_wr .table tbody tr td {
        padding: 5px;
        min-width: 115px;
    }
    #stm_lms_interviews .mx-datepicker {
        width: 100%;
    }
    .stm-lms-interviews_form_wr {
        padding: 0;
    }
    .stm-lms-interviews_form_comment {
        padding: 20px;
    }
    .stm-lms-interviews_form_wr .course-search {
        height: auto;
    }
}